<h2>Liste des publications :</h2>

<div class="container">
  <% @posts.each do |post| %>
    <div class="card-product">

      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />

      <div class="card-product-infos">
        <h2><%= post.title %></h2>
        <p><%= post.content.truncate(100) %></p>

        <%= link_to "Détails", post_path(post) %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Créer une nouvelle publication", new_post_path %>
